{{define "header"}}
    <header>
        <div class="container">
            <div class="header">

                <div class="top-bar">
                    <div class="logo">
                        <a href="/">
                            <h3>Butterfly</h3>
                        </a>
                    </div>
                    <div class="menus">
                        <a href="/">首页</a>
                        <a href="/contract">联系</a>
                    </div>
                </div>
                <div class="write-btn">
                    <a href="">发布</a>
                </div>
            </div>
        </div>
    </header>

{{end}}