{{ define "content"}}

    <div class="posts">

        {{range .Issues}}
            <div class="post">
                <div class="title">
                    <a href="/posts/{{.Number}}">
                        {{.Title}}
                    </a>
                </div>
                <div class="meta">
                    <div class="user">
                        <label for="">作者：</label>
                        <a href="">Twn39</a>
                    </div>
                    <div class="date">{{.CreatedAt}}</div>
                </div>

                <div class="info">
                    是的格式发给对方撒旦发射点
                </div>

            </div>
        {{end}}
    </div>

{{end}}
