{{ define "content"}}

    <div class="posts">

        {{range .Issues}}
            <div class="post">
                <div class="title">
                    <a href="/posts/{{.Number}}">
                        {{.Title}}
                    </a>
                </div>
                <div class="meta">
                    <div class="user">
                        <label for="">作者：</label>
                        <a href="{{.User.HtmlUrl}}">Twn39</a>
                    </div>
                    <div class="date">{{.CreatedAt}}</div>
                </div>

                <div class="info">
                    {{ printf "%q" .Body | slice }}
                </div>

            </div>
        {{end}}
    </div>

    <script>

        let tmpl = document.getElementById("context").textContent;
        let HTML = marked(tmpl);
        document.querySelector(".article").innerHTML = HTML;
    </script>

{{end}}
