<!DOCTYPE html>
<html lang="zh_hans">
<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    {{ template "head"}}
    <link rel="stylesheet" href="/static/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/app.css">
    <script src="/static/js/ejs.min.js"></script>
    <script src="/static/js/marked.min.js"></script>
</head>
<body>

{{template "header"}}

<div class="container">
    <div class="main">
        <div class="content">
            {{template "content" .}}
        </div>

        <aside class="aside">
            {{template "aside" .}}
        </aside>
    </div>
</div>

</body>
</html>
