<!DOCTYPE html>
<html lang="zh_hans">
<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    {{ template "head"}}
    <link rel="stylesheet" href="/static/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/default.min.css">
    <link rel="stylesheet" href="/static/css/gruvbox-dark.css">
    <script src="/static/js/ejs.min.js"></script>
    <script src="/static/js/marked.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js"></script>
    <script
            charset="UTF-8"
            src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.9/languages/go.min.js"></script>
</head>
<body>

{{template "header"}}

<div class="container">
    <div class="main">
        <div class="content">
            {{template "content" .}}
        </div>

        <aside class="aside">
            {{template "aside" .}}
        </aside>
    </div>
</div>

<footer>
    <div class="container">
        <div class="footer">
            <p>Copyright © 2019 lives.ws. All Rights Reserved. Made with 💖. 备案号：粤ICP备16007344号-1</p>
        </div>
    </div>
</footer>


<script>
</script>

</body>
</html>
