header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  background: #2e8555;
}
.container {
  max-width: 1040px;
}
.header {
  padding: 8px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .logo {
    h3 {
      font-size: 1.6rem;
      font-weight: bold;
      color: #fff;
      font-style: italic;
    }
  }
  .top-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    .menus {
      padding: 0 50px;
      a {
        display: inline-block;
        padding: 0 16px;
        color: #fff;
      }
    }
  }
  .write-btn {
    a {
      background: #256b44;
      padding: 6px 40px 6px 40px;
      color: #fff;
      border-radius: 3px;
      font-weight: bold;
      font-size: 16px;
    }
  }
}

.main {
  padding-top: 120px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: row;
  .content {
    flex: 4;
    padding-right: 20px;
    .posts {
      .post {
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.06);
        .title {
          font-size: 1.4rem;
          margin-bottom: 14px;
          a {
            color: #2e8555;
            font-weight: bold;
          }
        }
        .info {
          text-align: justify;
          line-height: 1.8rem;
        }
        .meta {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 10px;
          .user {
            label, a {
              font-size: 14px;
            }
            a {
              color: #2e8555;
            }
          }
          .date {
            font-size: 12px;
          }
        }
      }
    }
  }
  .aside {
    flex: 1;
  }
}

.content article{
  code {
    font-family: Consolas, "Source Code Pro", "Fira Mono", "SF Mono", Monaco, Inconsolata,  "Droid Sans Mono", monospace, monospace;
  }
  pre {
    padding: 0;
    code {
      padding: 14px;
      border-radius: 3px;
      font-family: Consolas, "Source Code Pro", "Fira Mono", "SF Mono", Monaco, Inconsolata,  "Droid Sans Mono", monospace, monospace;
    }
  }
  h4 {
    font-size: 1.6rem;
  }

  .article {
    p {
      text-align: justify;
      line-height: 1.8rem;
    }
  }

  blockquote {
    background: #fff7d0;
    border-left: 6px solid #ffe564;
    font-style: italic;
    code {
      background: #ffe564;
    }
  }
}

.paginator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  a {
    background: #2e8555;
    color: #fff;
    padding: 6px 26px;
    border-radius: 3px;
  }
}

footer {
  background: #20232a;
  .footer {
    background: #20232a;
    padding: 3rem 1.5rem 3rem;
    p {
      color: #fff;
      text-align: center;
    }
  }
}