header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  background: #fff;
}
.container {
  max-width: 1040px;
}
.header {
  padding: 8px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .logo {
    h3 {
      font-size: 1.6rem;
      font-weight: bold;
      color: #007bff;
      font-style: italic;
    }
  }
  .top-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    .menus {
      padding: 0 50px;
      a {
        display: inline-block;
        padding: 0 16px;
        color: #444;
      }
    }
  }
  .write-btn {
    a {
      background: #007bff;
      padding: 6px 40px 6px 40px;
      color: #fff;
      border-radius: 3px;
      font-weight: bold;
      font-size: 16px;
      &:hover {
        background: #0271e8;
      }
    }
  }
}

.main {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  .content {
    flex: 4;
    padding-right: 20px;
    .posts {
      .post {
        margin-bottom: 40px;
        padding-bottom: 40px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.06);
        .title {
          font-size: 1.2rem;
          margin-bottom: 14px;
          a {
            color: #1f1f1f;
            font-weight: normal;
          }
        }
        .meta {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 10px;
          .user {
            label, a {
              font-size: 14px;
            }
          }
          .date {
            font-size: 12px;
          }
        }
      }
    }
  }
  .aside {
    flex: 1;
  }
}